.per-main-container{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 80vh;
}

.per-box{
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 60%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: fit-content;
    padding: 20px;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

input, button{
    
    padding: 15px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}

button{
    cursor: pointer;
    background-color: #FF8000;
    border: none;
}

p{
    font-size: 15px;    
}


@media (max-width: 1024px) {
   
.per-box{     
    width: 90%;         
}

}

@media (max-width: 970px) {
   
    .per-box{     
        width: 95%;         
    }
    
}

@media (max-width: 920px) {
   
    .per-box{     
        width: 95%; 
        padding: 15px; 
        gap: 15px;       
    }    
}

@media (max-width: 870px) {
   
    .per-box{         
        padding: 10px; 
        gap: 10px;       
    }    
}



@media (max-width: 850px) {

    .per-main-container{       
        
        height: 100vh;
    }
    .per-box {
        width: 70%;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px; 
        padding: 20px;       
    }

    input,
    button {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 600px) {

    h1{
        font-size: 25px;
    }

    .per-box {
        width: 80%;              
    }

}

@media (max-width: 480px) {

    h1{
        font-size: 20px;
    }

    .per-box {
        width: 75%;
        padding: 15px;
    }

    input,
    button {
        padding: 15px 15px;
        font-size: 0.9rem;
    }
}


@media (max-width: 375px) {

    h1{
        font-size: 17px;
    }

    .per-box {
        width: 80%;
        padding: 15px;
    }

    input,
    button {
        padding: 13px 15px;
        font-size: 0.8rem;
    }
}


@media (max-width: 270px) {

    h1{
        font-size: 14px;
    }

}
